<h1>{% if fighter == null %} Create your profile first {% else %}
    {{ fighter.firstName }} {{ fighter.secondName }} </h1>
<p>Description: {{ fighter.description }}</p>
<ul>Gender: <strong>{{ fighter.sex }}</strong></ul>
<ul>Weight in kg: <strong>{{ fighter.weight }}</strong></ul>
<ul>Height in cm: <strong>{{ fighter.height }}</strong></ul>
<ul>Belt color: <strong>{{ fighter.belt }}</strong></ul>
<ul>Lives in: <strong>{{ fighter.location }}</strong> {% endif %}</ul>

