
{% block body %}
{% for fighter in fighters %}
   {%  if fighter.sparringMode != null %}
   <ul><strong><a href = "{{  path('showProfile', {'id':fighter.id})}}">{{ fighter.firstName }} {{ fighter.secondName }}</a></strong></ul>
      {% else %}
         <ul><a href = "{{  path('showProfile', {'id':fighter.id})}}">{{ fighter.firstName }} {{ fighter.secondName }}</a></ul>
   {% endif %}
{%  endfor %}
{% endblock %}